@model OCOO.Models.SubMenu
@{
    ViewData["Title"] = "Sub Menu Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-themecolor">Sub Menu</h3>

        </div>
        <div class="col-md-6 align-self-right">
            <span class="float-right"><a href="#" title="Add New" onclick="return ShowMenuPopup();" id="btn" class="btn btn-success btn-sm"><i class="fa fa-plus mdi-18px"></i> Sub Menu</a></span>

        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <form asp-action="SubMenuMaster">
                <div class="card-body pb-20">
                    <div class="table-responsive">
                        <table class="table table-striped footable">
                            <thead>
                                <tr>
                                    <th>Sn</th>
                                    <th>Menu Name</th>
                                    <th>SubMenu Name</th>
                                    <th>SubMenu Url</th>
                                    <th class="tdaction">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.dtDetails != null)
                                {
                                    if (Model.dtDetails != null)
                                    {
                                        if (Model.dtDetails.Rows.Count > 0)
                                        {
                                            for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                                            {
                                                <tr>
                                                    <td>@(i + 1)</td>
                                                    <td>@Model.dtDetails.Rows[i]["MenuName"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["SubMenuName"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["Url"].ToString()</td>

                                                    <td>
                                                        <a href="#" data-bs-toggle="modal" onclick="return SubMenuEdit('@Model.dtDetails.Rows[i]["SubMenuId"].ToString()','@Model.dtDetails.Rows[i]["SubMenuName"].ToString()','@Model.dtDetails.Rows[i]["MenuId"].ToString()','@Model.dtDetails.Rows[i]["Url"].ToString()')" data-bs-target="#exampleModal" class="text-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="/MenuMaster/DeleteSubMenu?id=@OCOO.Models.Crypto.Encrypt(Model.dtDetails.Rows[i]["SubMenuId"].ToString())" id="btnDelete" class="text-danger" onclick="return confirm('are you sure to delete this submenu?')" ToolTip="Delete">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>


                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="5" class="text-center">No Record Found</td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form asp-action="SaveSubMenuMaster" asp-controller="MenuMaster" method="post" >
        <div id="modelMenu" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Sub Menu</h5>
                        <a href="#" class="btn-close" data-dismiss="modal">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Menu Name<span class="text-danger">*</span></label>

                                    @Html.DropDownListFor(m => m.MenuId, new SelectList(ViewBag.ddlMenu, "Value", "Text"), new {@class = "form-control"})

                                    <input type="hidden" asp-for="SubMenuId" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Sub Menu Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" asp-for="SubMenuName" placeholder="Enter Sub Menu Name" />

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Sub Menu Url<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" asp-for="Url" placeholder="Enter Sub Menu url" />

                                </div>
                            </div>


                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-xs" id="submit" onclick="return ValidateSubMenu();" value="Submit" name="btnSubmit"><i class="fa fa-save"> Save</i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<script>

    function ShowMenuPopup() {
        $('#modelMenu').modal('show');
        $("#SubMenuId").val(0);
        $("#MenuId").val("");
        $("#SubMenuName").val("");
        $("#Url").val("");
        $("#submit").val('Submit');
        $("#submit").css("background", "green");
        $("#submit").html('<i class="fa fa-save"> Save</i>');

    }


    function ValidateSubMenu() {
        if ($("#MenuId").val() == '0' || $("#MenuId").val() == null || $("#MenuId").val() == "") {
            $("#MenuId").focus();
            return false;
        }
        if ($("#SubMenuName").val() == '' || $("#SubMenuName").val() == null) {
            $("#SubMenuName").focus();
            return false;
        }
        if ($("#Url").val() == '' || $("#Url").val() == null) {
            $("#Url").focus();
            return false;
        }

    }
    function SubMenuEdit(Pk_SubMenuID, SubMenuName, Pk_MenuId, Url) {
        $("#SubMenuId").val(Pk_SubMenuID);
        $("#SubMenuName").val(SubMenuName);
        $("#MenuId").val(Pk_MenuId);
        $("#Url").val(Url);
        $("#submit").html('<i class="fa fa-pencil"> Update</i>');
        $("#submit").val('Update');
        $("#submit").css("background", "green");
        $('#modelMenu').modal('show');
    }

    $(function () {
        $("#select-all").click(function () {
            if ($(this).is(":checked")) {
                $("#div1").show();
            } else {
                $("#div1").hide();
            }
        });
    });
</script>



