@model OCOO.Models.Profile
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_InsAgencyLayout.cshtml";
}

<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-themecolor">Profile</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body pb-0">
                <form asp-action="Profile" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Name<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="Name" value="@Model.Name" class="form-control" placeholder="Enter Name" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Mobile No.<span class="text-danger">*</span></label>
                                    <input type="text" value="@Model.MobileNo" asp-for="MobileNo" onkeypress="return isNumberKey(event)" class="form-control" maxlength="10" placeholder="Enter Mobile no." />
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Email Id<span class="text-danger">*</span></label>
                                    <input type="email" onchange="return fCheck()" value="@Model.Email" asp-for="Email" class="form-control" placeholder="Enter Email Id" />

                                </div>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Profile Picture<span class="text-danger">*</span></label>
                                    <input type="file" value="@Model.Documents" onchange="ShowImagePreview(this)" asp-for="ProfilePic" class="form-control" placeholder="Pic" />
                                    <small>Only Jpg,Png and jpeg files are allowed.</small>
                                    <br />
                                    <img src="@Context.Session.GetString("ShowFilePath")@Model.Documents" id="imagePreview" style="height: 120px;width: 200px;" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="text-center">
                            <button class="btn btn-success btn-xs" type="submit" name="Update" onclick="return fvalidate()" value="Update"><i class="fa fa-pencil"> Update</i></button>
                            <button type="reset" class="btn btn-secondary btn-xs"><i class="fa fa-refresh"></i> Reset</button>
                        </div>
                        <br />
                        <br />
                        <input type="hidden" asp-for="Pk_AdminId" value="@Model.Pk_AdminId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function ShowImagePreview(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').prop('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
        var path = input.value;
        var ext = path.slice(path.lastIndexOf('.') + 1).toUpperCase()
        if (ext == "JPG" || ext == "JPEG" || ext == "PNG") { }
        else {
            fShowToastalert('Invalid Format')
            $("#ProfilePic").val('');
            $("#imagePreview").prop('src', '');
            $("#ProfilePic").focus();
            return false;
        }
    }
    function fvalidate() {
        $(".errortext").removeClass("errortext");
        if ($('#Name').val() == '' || $('#Name').val() == null || $('#Name').val() == undefined || $('#Name').val() == "0" || $('#Name').val() == NaN) {
            $("#Name").addClass('errortext');
            $("#Name").focus()
            return false;
        }
        if ($('#MobileNo').val() == '' || $('#MobileNo').val() == null || $('#MobileNo').val() == undefined || $('#MobileNo').val() == "0" || $('#MobileNo').val() == NaN) {
            $("#MobileNo").addClass('errortext');
            $("#MobileNo").focus();
            return false;
        }
        const phoneNumber = $("#MobileNo").val();
        if (validateIndianPhoneNumber(phoneNumber)) {
        } else {
            fShowToastalert("Please Enter valid Mobile No !")
            $("#MobileNo").focus();
            return false;
        }
        if ($('#Email').val() == '' || $('#Email').val() == null || $('#Email').val() == undefined || $('#Email').val() == "0" || $('#Email').val() == NaN) {
            $("#Email").addClass('errortext');
            $("#Email").focus();
            return false;
        }
        const email = $("#Email").val();
        if (validateEmail(email)) {
        } else {
            fShowToastalert("Please Enter valid Email Id !")
            $("#Email").focus();
            return false;
        }


        if ($('#ProfilePic').val() == '' || $('#ProfilePic').val() == null || $('#ProfilePic').val() == undefined || $('#ProfilePic').val() == "0" || $('#ProfilePic').val() == NaN) {
            $("#ProfilePic").addClass('errortext');
            $("#ProfilePic").focus();
            return false;
        }

    }
    function fCheck() {
        let email = $("#Email").val();
        if (email != null || email != "") {
            $.ajax({
                url: '/Admin/CheckEmailId',
                type: 'GET',
                data: { Id: email },
                success: function (response) {

                    if (response != null) {
                        if (response.flag == "0") {
                            fShowToastalert(response.message)
                            $("#Email").val("")
                        }
                    }
                },
                error: function (error) {
                    fShowToasterror(error);
                }
            });
        }
    }
</script>