@model OCOO.Models.InspectionAgency
@{
    ViewData["Title"] = "Inspection Agency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-themecolor">Inspection Agency </h3>

        </div>
        <div class="col-md-6 align-self-right">
            <span class="float-right"><a href="javascript:void(0)" onclick="return ShowPopup();" id="btn" class="btn  btn-xs btn-sm btn-success fUserPermission" title="Add New"><i class="fa fa-plus mdi-18px"></i> Inspection Agency</a></span>

        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <form asp-action="InspectionAgency">
                <div class="card-body p-3 pb-20">
                    <div class="table-responsive">
                        <table class="table table-striped footable">
                            <thead>
                                <tr>
                                    <th>Sn</th>
                                    <th>Zone</th>
                                    <th>Agency Name</th>
                                    <th>Login Id</th>
                                    <th>Password</th>
                                    <th>Contact Person</th>
                                    <th>Mobile No</th>
                                    <th>Address</th>
                                    <th>Inspection Type </th>
                                    <th class="tdaction">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.dtDetails != null)
                                    {
                                        if (Model.dtDetails.Rows.Count > 0)
                                        {
                                            for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                                            {
                                                <tr>
                                                    <td>@(i + 1)</td>
                                                    <td>@Model.dtDetails.Rows[i]["Zone"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["Name"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["LoginId"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["Password"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["ContactPerson"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["MobileNo"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["Address"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["InspectionTypeName"].ToString()</td>
                                                    <td>
                                                        <a href="#" data-bs-toggle="modal" onclick="return EditForm(@Model.dtDetails.Rows[i]["Pk_InsAgencyId"].ToString(),'@Model.dtDetails.Rows[i]["Name"].ToString()','@Model.dtDetails.Rows[i]["ContactPerson"].ToString()','@Model.dtDetails.Rows[i]["MobileNo"].ToString()','@Model.dtDetails.Rows[i]["Address"].ToString()','@Model.dtDetails.Rows[i]["FK_InspectionId"].ToString()', '@Model.dtDetails.Rows[i]["Fk_ZoneId"].ToString()')" data-bs-target="#exampleModal" class="text-primary fUserPermission">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="/AdminMasters/DeleteInspectionAgency?id=@OCOO.Models.Crypto.Encrypt(Model.dtDetails.Rows[i]["Pk_InsAgencyId"].ToString())" id="btnDelete" class="text-danger fUserPermission" onclick="return confirm('are you sure to delete this record?')" ToolTip="Delete">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>


                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="10" class="text-center bg-white">
                                                    <div class="alert alert-warning text-center">
                                                        No Records Found !!
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form asp-action="InspectionAgency" asp-controller="AdminMasters">
        <div id="modeInspectionAgency" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add/Update Inspection Agency </h5>
                        <a href="javascript:void(0)" class="btn-close" data-dismiss="modal">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Zone <span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.Fk_ZoneId, new SelectList(ViewBag.ddlZone, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Agency Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" asp-for="AgencyName" placeholder="Enter Agency Name" />
                                    <input type="hidden" asp-for="Pk_UserId" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Inspection Type <span class="text-danger">*</span></label>

                                    @Html.DropDownListFor(m => m.FK_InspectionId, new SelectList(ViewBag.ddlInspectionType, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contact Person <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" asp-for="ContactPerson" placeholder="Enter Contact Person" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mobile No <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" asp-for="MobileNo" placeholder="Enter Mobile No" min="10" maxlength="10" onkeypress="return isNumberKey(this)" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address <span class="text-danger">*</span></label>
                                    <textarea asp-for="Address" rows="4" cols="4" class="form-control"></textarea>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger  btn-xs btn-sm " id="submit"><i class="fa fa-times"></i>  Cancel</button>
                        <button type="submit" class="btn btn-success  btn-xs btn-sm" id="btnsubmit" onclick="return ValidateForm();" value="Submit" name="btnSubmit"><i class="fa fa-save"></i> Save</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    function ShowPopup() {
        $('#modeInspectionAgency').modal('show');
        $("#Pk_UserId").val(0);
        $("#FK_InspectionId").val("");
        $("#ContactPerson").val("");
        $("#MobileNo").val("");
        $("#Address").val("");
        $("#AgencyName").val("");
        $("#btnsubmit").val('Submit');
        $("#btnsubmit").html('<i class="fa fa-save"></i>  Save');
    }


    function ValidateForm() {
        if ($("#Fk_ZoneId").val() == '' || $("#Fk_ZoneId").val() == null || $("#Fk_ZoneId").val() == '0') {
            $("#Fk_ZoneId").focus();
            return false;
        }
        if ($("#AgencyName").val() == '' || $("#AgencyName").val() == null) {
            $("#AgencyName").focus();
            return false;
        }
        if ($("#FK_InspectionId").val() == '' || $("#FK_InspectionId").val() == null) {
            $("#FK_InspectionId").focus();
            return false;
        }
        if ($("#ContactPerson").val() == '' || $("#ContactPerson").val() == null) {
            $("#ContactPerson").focus();
            return false;
        }
        if ($("#MobileNo").val() == '' || $("#MobileNo").val() == null || $("#MobileNo").val() == 0) {
            $("#MobileNo").focus();
            return false;
        }
        if ($("#Address").val() == '' || $("#Address").val() == null) {
            $("#Address").focus();
            return false;
        }

    }

    //function GetDesignation(fk_DesignationId) {
    //    let txtDepartmentId = $("#Fk_DepartmentId").val();
    //    $.ajax({
    //        url: '/Admin/GetDesignationByDepartment',
    //        type: 'GET',
    //        data: { Id: txtDepartmentId },
    //        success: function (response) {
    //            if (response != null) {
    //                let v = "";
    //                $.each(response, function (i, v1) {
    //                    v += "<option value=" + v1.value + ">" + v1.text + "</option>";
    //                });
    //                $("#Fk_DesignationId").html(v);
    //                if (fk_DesignationId != null && fk_DesignationId != '0') {
    //                    $("#Fk_DesignationId").val(fk_DesignationId);
    //                }
    //            }
    //        },
    //        error: function () {
    //            alert('Something went wrong!');
    //        }
    //    });
    //    if (txtDepartmentId == '1' || txtDepartmentId == '2') {
    //        $('#dist').show();
    //    }
    //    else {
    //        $('#dist').hide();
    //    }
    //}

    function EditForm(txtId, Name, ContactPerson, MobileNo, Address, PK_InspectionTypeId, Fk_ZoneId) {

        $("#Pk_UserId").val(txtId);
        $("#FK_InspectionId").val(PK_InspectionTypeId);
        $("#ContactPerson").val(ContactPerson);
        $("#MobileNo").val(MobileNo);
        $("#Address").val(Address);
        $("#AgencyName").val(Name);
        $("#Fk_ZoneId").val(Fk_ZoneId);
        $("#btnsubmit").val("Update");
        $('#modeInspectionAgency').modal('show');
        $("#btnsubmit").html('<i class="fa fa-save"></i>  Update');

    }

</script>
