@model OCOO.Models.InvoiceDetails
@{
    ViewData["Title"] = "Bill Document";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-4 align-self-center">
            <h3 class="text-themecolor">Bill Document</h3>
        </div>
        <div class="col-md-8 align-self-right">
            <a href="@ViewBag.Data" class="btn btn-sm  btn-xs btn-warning ml-2 float-right"><i class="fa fa-arrow-left"></i> Back</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table warning-bordered-table">
                            @if (Model != null)
                            {
                                if (Model.dtDetails1.Rows.Count > 0)
                                {
                                    <tr>
                                        <td colspan="6" class="text-center"><p class="font-weight-bold">@Model.dtDetails1.Rows[0]["HeaderText"].ToString()</p></td>
                                    </tr>
                                    <tr>
                                        <td><b>Firm Name</b></td>
                                        <td>@Model.dtDetails1.Rows[0]["FirmName"].ToString()</td>
                                        <td><b> Bill No.</b></td>
                                        <td>@Model.dtDetails1.Rows[0]["BillNo"].ToString()</td>
                                        <td><b>Bill Date</b></td>
                                        <td>@Model.dtDetails1.Rows[0]["BillDate"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td><b>Fuel Charges</b></td>
                                        <td>@Model.dtDetails1.Rows[0]["FuelCharges"].ToString()</td>
                                        <td><b>Net LD Charges</b></td>
                                        <td>@Model.dtDetails1.Rows[0]["NetLDCharges"].ToString()</td>
                                        <td><b>Grand Total</b></td>
                                        <td>@Model.dtDetails1.Rows[0]["Grandtotal"].ToString()</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body p-3 pb-20">
                <div class="table-responsive" id="data-table">

                    <table class="table table-striped table-bordered" id="tblInvoice">
                        <thead>
                            <tr>
                                <th>Sn</th>
                                <th>Name</th>
                                <th class="text-center">Document</th>
                                <th class="text-center">Narration </th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.dtDetails.Rows.Count > 0)
                                {
                                    for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                                    {
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@Model.dtDetails.Rows[i]["UploadDocName"].ToString()</td>
                                            <td align="center">

                                                @if (OCOO.Models.FileExtension.IsPdf(@Model.dtDetails.Rows[i]["Doc_Url"].ToString()))
                                                {
                                                    <a href="/FirmReport/ViewDocfile?filepath=@Url.Content(Context.Session.GetString("ShowFilePath")+Model.dtDetails.Rows[i]["Doc_Url"].ToString())">
                                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="return GetviewImage('@Model.dtDetails.Rows[i]["Doc_Url"].ToString()');">
                                                        <img src="@Url.Content(Context.Session.GetString("ShowFilePath")+Model.dtDetails.Rows[i]["Doc_Url"].ToString())" style="height:30px" />
                                                    </a>
                                                }

                                            </td>

                                         @*   <td class="text-nowrap tdaction text-center"><a href=/Bill/DownloadImage?filename=@Model.dtDetails.Rows[i]["Doc_Url"].ToString()><i class='ti-import mr-2 imp'></i></a></td>*@
                                            <td class="text-center">@Model.dtDetails.Rows[i]["Remarks"].ToString()</td>
                                            <td class="text-center">
                                                <span class="@Model.dtDetails.Rows[i]["Color"].ToString()">@Model.dtDetails.Rows[i]["Status"].ToString()</span>
                                            </td>
                                            <td class="text-center">@Model.dtDetails.Rows[i]["date"].ToString()</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="alert alert-warning text-center">No Record Found</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal Image*@
<div class="modal fade" id="remarkImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog model-lg" role="document">
        <div class="modal-content" style="width:600px;">
            <div class="modal-header align-items-center">
                <div>
                    <h5 class="modal-title" id="exampleModalLabel">Document</h5>
                </div>
                <div class="d-flex align-items-center">
                    <a id="btn-Convert-Html2Image" class="btn btn-danger  btn-sm" href="#" download="">Download</a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        @* <a href="#" data-href='#' download="Image.jpg" class="btn btn-danger" onclick='forceDownload(this)'>Download Image</a>*@

                        <div id="previewImage" style="display: none;"></div>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12 form-group">
                        <img alt="" id="IdIMG" width="100%" height="100%" />
                    </div>
                </div>
                <span style="display:none;" id="imagepath">@Context.Session.GetString("ShowFilePath")</span>
            </div>

        </div>

    </div>
</div>
<script>
    function GetviewImage(Image) {
        debugger;
        var path = $('#imagepath').html();
        var imageurl = path + Image;
        $('#IdIMG').attr('src', imageurl);
        $('#remarkImage').modal('show');
        $("#btn-Convert-Html2Image").attr('href', imageurl);
        $("#btn-Convert-Html2Image").attr('download', imageurl);
    }
</script>





