@model OCOO.Models.FirmDetails
@{
    ViewData["Title"] = "Firm stp List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-themecolor">STP List</h3>

        </div>
        <div class="col-md-6 align-self-right">
            @* <span class="float-right"><a href="#" onclick="return ShowPopup();" id="btn" class="btn btn-warning"><i class="fa fa-plus mdi-18px"></i></a></span> *@
            <span class="float-right"><a href="/Firm/StpRegistration" id="btn" class="btn btn-success"><i class="fa fa-plus mdi-18px"></i></a></span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <form asp-action="STCRequestList">
                <div class="card-body pb-20">
                    <div class="table-responsive">
                        <table class="table table-striped footable">
                            <thead>
                                <tr>
                                    <th>Sn</th>
                                    <th>Firm</th>
                                    <th>STP</th>
                                    <th>Capacity</th>
                                    <th>Meter Load</th>
                                    <th>Electricity Account No.</th>
                                    <th>UPPCL Bill Cycle</th>
                                    <th>BOD</th>
                                    <th>COD</th>
                                    <th>FC</th>
                                    <th>TSS</th>
                                    <th>City</th>
                                    <th>Address</th>
                                    <th>Treatment Technology</th>
                                    <th>Drainage</th>
                                    <th>Sewer Length(K.M.)</th>
                                    <th>Pumping Station Name</th>
                                    <th>Pumping Station Meter Load</th>
                                    <th>Pumping Station Account No.</th>
                                    <th>Pumping Bill Cycle</th>
                                    <th>Peek Designed Factor</th>
                                    <th>Peek Design Discharge</th>
                                    <th>Sub Pumping Station</th>
                                    <th>View</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.dtDetails != null)
                                    {
                                        if (Model.dtDetails.Rows.Count > 0)
                                        {
                                            for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                                            {
                                                <tr>
                                                    <td>@(i + 1)</td>
                                                    <td>@Model.dtDetails.Rows[i]["FirmName"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["StpName"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["Capacity"].ToString()</td>
                                                    @*  <td>@Model.dtDetails.Rows[i]["MLDDay"].ToString()</td>*@
                                                    @*<td>@Model.dtDetails.Rows[i]["MLDDay"].ToString()</td>*@
                                                    <td>@Model.dtDetails.Rows[i]["ElectricityMeterLoad"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["ElectricityAccountNo"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["UPPCLBillCycle"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["BOD"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["COD"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["FC"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["TSS"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["CityName"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["Address"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["TreatmentTechnology"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["DrainageName"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["SewerLength"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["PumpingStationName"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["PumpStationMeterLoad"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["PumpStationAccountNo"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["PumpingBillCycle"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["PeekDesignedDischarge"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["PeekDesignedFactor"].ToString()</td>
                                                    <td>@Model.dtDetails.Rows[i]["PumpingStation"].ToString()</td>
                                                    <td>

                                                        @if (@Model.dtDetails.Rows[i]["PumpingStation"].ToString() != "0")
                                                        {
                                                            <a href="#" onclick="return bindTable('@Model.dtDetails.Rows[i]["Pk_Stp_Id"].ToString()')"><i class="bi bi-eye-fill"></i></a>

                                                        }
                                                        @* else
                                        {
                                        <a href="#" onclick="return bindmainpumpingTable(','@Model.dtDetails.Rows[i]["SewerLength"].ToString()')"><i class="bi bi-eye-fill"></i></a>
                                        }*@

                                                    </td>
                                                    <td>
                                                        @*   <a href="/Firm/StpRegistration?Id=@Model.dtDetails.Rows[i]["Pk_Stp_Id"].ToString()" class="text-danger" ToolTip="Edit"><i class="fa fa-edit"></i></a>*@
                                                        <a href="/Firm/DeleteSTP?Id=@Model.dtDetails.Rows[i]["Pk_Stp_Id"].ToString()" class="text-danger" onclick="return confirm('are you sure to delete this record?')" ToolTip="Delete"><i class="bi bi-trash3"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <div class="alert alert-warning text-center">No Record Found</div>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="txtDetails" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sub Pumping Station</h5>
                <a href="#" class="btn-close" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dtList">
                        <thead>
                            <tr>
                                <th>Sn</th>
                                <th>SPS </th>
                                <th>Drain</th>
                                <th>Sewer Length(K.M.)</th>
                                <th>Peek Designed Discharge</th>
                                <th>Peek Designed Factor</th>

                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="txtmainpumpingDetails" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Main Pumping Station</h5>
                <a href="#" class="btn-close" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dtMainPumpList">
                        <thead>
                            <tr>
                                <th>Sn</th>
                                <th>Drain</th>
                                <th>Sewer Length(K.M)</th>

                            </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function bindTable(txtId) {
        //
        $.ajax({
            url: '/Firm/StpPumpStationList', // Replace with your server endpoint
            type: 'GET', // or 'POST' depending on your server implementation
            data: { Id: txtId }, // Change to the appropriate data type
            success: function (data) {
                //
                var tableRows = '';
                let sn = 1;

                // Loop through the data and create table rows
                $.each(data, function (index, item) {
                    tableRows += '<tr>';
                    tableRows += '<td>' + sn + '</td>';
                    tableRows += '<td>' + item.spsType + '</td>';

                    tableRows += '<td>' + item.drainageName + '</td>';
                    tableRows += '<td>' + item.sewerLength + '</td>';
                    tableRows += '<td>' + item.peekDesignedDischarge + '</td>';
                    tableRows += '<td>' + item.peekDesignedFactor + '</td>';
                    //tableRows += '<td><a class="text-danger" href="' + '/Firm/DeleteStpMeterLoad?Id=' + item.pk_Id + '">' + '<i class="bi bi-trash3"></i>' + '</a></td>';
                    tableRows += '</tr>';
                    sn++;
                });

                // Replace the tbody content with the new data
                $('#dtList tbody').html(tableRows);
            },
            error: function (error) {
                fShowToasterror(error);
            }
        });
        $('#txtDetails').modal('show');
    }


    function bindmainpumpingTable(DrainageName, SewerLength) {
        //

        var tableRows = '';

        // Loop through the data and create table rows
        tableRows += '<tr>';
        tableRows += '<td>' + 1 + '</td>';

        tableRows += '<td>' + DrainageName + '</td>';
        tableRows += '<td>' + SewerLength + '</td>';
        //tableRows += '<td><a class="text-danger" href="' + '/Firm/DeleteStpMeterLoad?Id=' + item.pk_Id + '">' + '<i class="bi bi-trash3"></i>' + '</a></td>';
        tableRows += '</tr>';

        $('#dtMainPumpList tbody').html(tableRows);

        $('#txtmainpumpingDetails').modal('show');
    }
</script>